.DS_Store
.iml
.gitignore
.idea/
.editorconfig
disconf/
gateway-api/target/**
gateway-portal-backend/target/**
gateway-portal-backend/src/main/resources/public/
/gateway-api/gateway-api.iml
/gateway-portal-backend/gateway-portal-backend.iml
/hango-gateway-portal-parent.iml
.project
.settings/
gateway-api/.classpath
gateway-api/.project
gateway-api/.settings/
gateway-api/bin/
gateway-portal-backend/.classpath
gateway-portal-backend/.project
gateway-portal-backend/.settings/
gateway-portal-backend/logs/**
/logs/
